# DateTime Index

In [2]:
import pandas as pd

In [3]:
import os

In [10]:
getPath = os.getcwd() +"\\AAPL.csv"
getPath

'C:\\Users\\mantiwar\\Desktop\\Pythan-Prac\\Time Series\\AAPL.csv'

In [13]:
file = pd.read_csv(getPath)

file.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-10-01,227.949997,229.419998,226.350006,227.259995,223.787323,23600800
1,2018-10-02,227.250000,230.000000,226.630005,229.279999,225.776459,24788200
2,2018-10-03,230.050003,233.470001,229.779999,232.070007,228.523819,28654800
3,2018-10-04,230.779999,232.350006,226.729996,227.990005,224.506180,32042000
4,2018-10-05,227.960007,228.410004,220.580002,224.289993,220.862717,33580500
5,2018-10-08,222.210007,224.800003,220.199997,223.770004,220.350662,29663900
6,2018-10-09,223.639999,227.270004,222.250000,226.869995,223.403275,26891000
7,2018-10-10,225.460007,226.350006,216.050003,216.360001,213.053894,41990600
8,2018-10-11,214.520004,219.500000,212.320007,214.449997,211.173065,53124400
9,2018-10-12,220.419998,222.880005,216.839996,222.110001,218.716034,40337900

In [14]:
# find type of date
type(file.Date[0])

str

In [37]:
# convert date type string to date

file1 = pd.read_csv(getPath ,parse_dates=["Date"] ,index_col="Date")

In [38]:
file1

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-10-01,227.949997,229.419998,226.350006,227.259995,223.787323,23600800
2018-10-02,227.250000,230.000000,226.630005,229.279999,225.776459,24788200
2018-10-03,230.050003,233.470001,229.779999,232.070007,228.523819,28654800
2018-10-04,230.779999,232.350006,226.729996,227.990005,224.506180,32042000
2018-10-05,227.960007,228.410004,220.580002,224.289993,220.862717,33580500
2018-10-08,222.210007,224.800003,220.199997,223.770004,220.350662,29663900
2018-10-09,223.639999,227.270004,222.250000,226.869995,223.403275,26891000
2018-10-10,225.460007,226.350006,216.050003,216.360001,213.053894,41990600
2018-10-11,214.520004,219.500000,212.320007,214.449997,211.173065,53124400
2018-10-12,220.419998,222.880005,216.839996,222.110001,218.716034,40337900
2018-10-15,221.160004,221.830002,217.270004,217.360001,214.038605,30791000
2018-10-16,218.929993,222.990005,216.759995,222.149994,218.755417,29184000
2018-10-17,222.300003,222.639999,219.339996,221.190002,217.810089,22885400
2018-10-18,217.860001,219.740005,213.000000,216.020004,212.719086,32581300
2018-10-19,218.059998,221.259995,217.429993,219.309998,215.958801,33078700
2018-10-22,219.789993,223.360001,218.940002,220.649994,217.278320,28792100
2018-10-23,215.830002,223.250000,214.699997,222.729996,219.326538,38767800
2018-10-24,222.600006,224.229996,214.539993,215.089996,211.803284,40925500
2018-10-25,217.710007,221.380005,216.750000,219.800003,216.441330,29855800
2018-10-26,215.899994,220.190002,212.669998,216.300003,212.994797,47258400
2018-10-29,219.190002,219.690002,206.089996,212.240005,208.996857,45935500
2018-10-30,211.149994,215.179993,209.270004,213.300003,210.040649,36660000
2018-10-31,216.880005,220.449997,216.619995,218.860001,215.515686,38358900
2018-11-01,219.050003,222.360001,216.809998,222.220001,218.824341,58323200
2018-11-02,209.550003,213.649994,205.429993,207.479996,204.309570,91328700
2018-11-05,204.300003,204.389999,198.169998,201.589996,198.509583,66163700
2018-11-06,201.919998,204.720001,201.690002,203.770004,200.656265,31882900
2018-11-07,205.970001,210.059998,204.130005,209.949997,206.741821,33424400
2018-11-08,209.979996,210.119995,206.750000,208.490005,206.020493,25362600
2018-11-09,205.550003,206.009995,202.250000,204.470001,202.048096,34365800
...,...,...,...,...,...,...
2019-08-19,210.619995,212.729996,210.029999,210.350006,210.350006,24413600
2019-08-20,210.880005,213.350006,210.320007,210.360001,210.360001,26884300
2019-08-21,212.990005,213.649994,211.600006,212.639999,212.639999,21535400
2019-08-22,213.190002,214.440002,210.750000,212.460007,212.460007,22253700
2019-08-23,209.429993,212.050003,201.000000,202.639999,202.639999,46818000
2019-08-26,205.860001,207.190002,205.059998,206.490005,206.490005,26043600
2019-08-27,207.860001,208.550003,203.529999,204.160004,204.160004,25873300
2019-08-28,204.100006,205.720001,203.320007,205.529999,205.529999,15938800
2019-08-29,208.500000,209.320007,206.660004,209.009995,209.009995,20990500
2019-08-30,210.160004,210.449997,207.199997,208.740005,208.740005,21143400
2019-09-03,206.429993,206.979996,204.220001,205.699997,205.699997,20023000
2019-09-04,208.389999,209.479996,207.320007,209.190002,209.190002,19188100
2019-09-05,212.000000,213.970001,211.509995,213.279999,213.279999,23913700
2019-09-06,214.050003,214.419998,212.509995,213.259995,213.259995,19362300
2019-09-09,214.839996,216.440002,211.070007,214.169998,214.169998,27309400
2019-09-10,213.860001,216.779999,211.710007,216.699997,216.699997,31777900
2019-09-11,218.070007,223.710007,217.729996,223.589996,223.589996,44289600
2019-09-12,224.800003,226.419998,222.860001,223.089996,223.089996,32226700
2019-09-13,220.000000,220.789993,217.020004,218.750000,218.750000,39763300
2019-09-16,217.729996,220.130005,217.559998,219.899994,219.899994,21158100
2019-09-17,219.960007,220.820007,219.119995,220.699997,220.699997,18318700
2019-09-18,221.059998,222.850006,219.440002,222.770004,222.770004,25340000
2019-09-19,222.009995,223.759995,220.369995,220.960007,220.960007,22060600
2019-09-20,221.380005,222.559998,217.470001,217.729996,217.729996,55413100
2019-09-23,218.949997,219.839996,217.649994,218.720001,218.720001,19165500
2019-09-24,221.029999,222.490005,217.190002,217.679993,217.679993,31190800
2019-09-25,218.550003,221.500000,217.139999,221.029999,221.029999,21903400
2019-09-26,220.000000,220.940002,218.830002,219.889999,219.889999,18833500
2019-09-27,220.539993,220.960007,217.279999,218.820007,218.820007,25352000
2019-09-30,220.899994,224.580002,220.789993,223.970001,223.970001,25977400

In [39]:
file1.head(20)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-10-01,227.949997,229.419998,226.350006,227.259995,223.787323,23600800
2018-10-02,227.250000,230.000000,226.630005,229.279999,225.776459,24788200
2018-10-03,230.050003,233.470001,229.779999,232.070007,228.523819,28654800
2018-10-04,230.779999,232.350006,226.729996,227.990005,224.506180,32042000
2018-10-05,227.960007,228.410004,220.580002,224.289993,220.862717,33580500
2018-10-08,222.210007,224.800003,220.199997,223.770004,220.350662,29663900
2018-10-09,223.639999,227.270004,222.250000,226.869995,223.403275,26891000
2018-10-10,225.460007,226.350006,216.050003,216.360001,213.053894,41990600
2018-10-11,214.520004,219.500000,212.320007,214.449997,211.173065,53124400
2018-10-12,220.419998,222.880005,216.839996,222.110001,218.716034,40337900
2018-10-15,221.160004,221.830002,217.270004,217.360001,214.038605,30791000
2018-10-16,218.929993,222.990005,216.759995,222.149994,218.755417,29184000
2018-10-17,222.300003,222.639999,219.339996,221.190002,217.810089,22885400
2018-10-18,217.860001,219.740005,213.000000,216.020004,212.719086,32581300
2018-10-19,218.059998,221.259995,217.429993,219.309998,215.958801,33078700
2018-10-22,219.789993,223.360001,218.940002,220.649994,217.278320,28792100
2018-10-23,215.830002,223.250000,214.699997,222.729996,219.326538,38767800
2018-10-24,222.600006,224.229996,214.539993,215.089996,211.803284,40925500
2018-10-25,217.710007,221.380005,216.750000,219.800003,216.441330,29855800
2018-10-26,215.899994,220.190002,212.669998,216.300003,212.994797,47258400

In [41]:
# find jan month record

file1["2019-01"]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,154.889999,158.850006,154.229996,157.919998,156.049484,37039700
2019-01-03,143.979996,145.720001,142.000000,142.190002,140.505798,91312200
2019-01-04,144.529999,148.550003,143.800003,148.259995,146.503891,58607100
2019-01-07,148.699997,148.830002,145.899994,147.929993,146.177811,54777800
2019-01-08,149.559998,151.820007,148.520004,150.750000,148.964386,41025300
2019-01-09,151.289993,154.529999,149.630005,153.309998,151.494064,45099100
2019-01-10,152.500000,153.970001,150.860001,153.800003,151.978271,35780700
2019-01-11,152.880005,153.699997,151.509995,152.289993,150.486160,27023200
2019-01-14,150.850006,151.270004,149.220001,150.000000,148.223282,32439200
2019-01-15,150.270004,153.389999,150.050003,153.070007,151.256927,28710900
2019-01-16,153.080002,155.880005,153.000000,154.940002,153.104782,30569700
2019-01-17,154.199997,157.660004,153.259995,155.860001,154.013885,29821200
2019-01-18,157.500000,157.880005,155.979996,156.820007,154.962494,33751000
2019-01-22,156.410004,156.729996,152.619995,153.300003,151.484207,30394000
2019-01-23,154.149994,155.139999,151.699997,153.919998,152.096848,23130600
2019-01-24,154.110001,154.479996,151.740005,152.699997,150.891296,25441500
2019-01-25,155.479996,158.130005,154.320007,157.759995,155.891357,33535500
2019-01-28,155.789993,156.330002,153.660004,156.300003,154.448654,26192100
2019-01-29,156.250000,158.130005,154.110001,154.679993,152.847839,41587200
2019-01-30,163.250000,166.149994,160.229996,165.250000,163.292648,61109800
2019-01-31,166.110001,169.000000,164.559998,166.440002,164.468567,40739600

In [43]:
# average sell of jan month


file1["2019-01"].Close.mean()

154.16619

In [44]:
# slicing  [ start: end, end:start] one week data

file1["2019-01-1":"2019-01-07"]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,154.889999,158.850006,154.229996,157.919998,156.049484,37039700
2019-01-03,143.979996,145.720001,142.000000,142.190002,140.505798,91312200
2019-01-04,144.529999,148.550003,143.800003,148.259995,146.503891,58607100
2019-01-07,148.699997,148.830002,145.899994,147.929993,146.177811,54777800