In [1]:
import pandas as pd
import os

In [2]:
getPath = os.getcwd()

In [3]:
getPath

'C:\\Users\\mantiwar\\Desktop\\Pythan-Prac\\Panda Library'

In [4]:
files = pd.read_csv(getPath+"\\CityWeather.csv")

In [18]:
files.head(10 ,inplice =True)

TypeError: head() got an unexpected keyword argument 'inplice'

In [14]:
files.columns = files.columns.str.strip()
files.columns
# files.pivot(index="Date" ,columns="City" ,values ="Event")

Index(['Date', 'City', 'Temp', 'Wind', 'Event'], dtype='object')

In [16]:
files.pivot(index="Temp" ,columns="City")

            Date                                                              \
City    Bhusawal      Eigat          Goa    Jal gaow      Mumbai      Nashik
Temp
6.0          NaN         NaN         NaN  26-05-2019         NaN         NaN
10.0         NaN         NaN         NaN         NaN  25-05-2019         NaN
14.0         NaN  27-05-2019         NaN         NaN         NaN         NaN
21.0         NaN         NaN         NaN         NaN         NaN         NaN
22.0         NaN         NaN         NaN         NaN         NaN  17-05-2019
22.6         NaN         NaN         NaN         NaN         NaN         NaN
25.7         NaN         NaN         NaN         NaN         NaN         NaN
30.4         NaN         NaN         NaN         NaN         NaN         NaN
31.0         NaN         NaN         NaN         NaN  20-05-2019         NaN
32.0  29-05-2019         NaN         NaN         NaN  10-05-2019         NaN
33.0         NaN         NaN  16-05-2019         NaN         NaN         NaN
34.0         NaN         NaN  14-05-2019         NaN         NaN         NaN
34.5         NaN         NaN         NaN         NaN  15-05-2019         NaN
42.0         NaN  28-05-2019         NaN         NaN         NaN         NaN
43.0         NaN         NaN  23-05-2019         NaN         NaN         NaN

                                             Wind  ...          Event         \
City Navi Mumbai        Pune       Ratan Bhusawal  ... Ratan Bhusawal Eigat
Temp                                               ...
6.0          NaN         NaN         NaN      NaN  ...   NaN      NaN    NaN
10.0         NaN  30-05-2019         NaN      NaN  ...   NaN      NaN    NaN
14.0         NaN         NaN         NaN      NaN  ...   NaN      NaN   Rain
21.0         NaN  12-05-2019         NaN      NaN  ...   NaN      NaN    NaN
22.0         NaN  19-05-2019         NaN      NaN  ...   NaN      NaN    NaN
22.6  22-05-2019         NaN         NaN      NaN  ...   NaN      NaN    NaN
25.7  21-05-2019         NaN         NaN      NaN  ...   NaN      NaN    NaN
30.4         NaN  24-05-2019         NaN      NaN  ...   NaN      NaN    NaN
31.0         NaN         NaN         NaN      NaN  ...   NaN      NaN    NaN
32.0         NaN         NaN         NaN     18.0  ...   NaN    Sunny    NaN
33.0         NaN         NaN         NaN      NaN  ...   NaN      NaN    NaN
34.0         NaN         NaN  18-05-2019      NaN  ...   9.0      NaN    NaN
34.5         NaN         NaN         NaN      NaN  ...   NaN      NaN    NaN
42.0         NaN         NaN         NaN      NaN  ...   NaN      NaN  Sunny
43.0         NaN         NaN         NaN      NaN  ...   NaN      NaN    NaN


City    Goa Jal gaow Mumbai Nashik Navi Mumbai   Pune  Ratan
Temp
6.0     NaN     Rain    NaN    NaN         NaN    NaN    NaN
10.0    NaN      NaN   Rain    NaN         NaN   Snow    NaN
14.0    NaN      NaN    NaN    NaN         NaN    NaN    NaN
21.0    NaN      NaN    NaN    NaN         NaN   Rain    NaN
22.0    NaN      NaN    NaN    fog         NaN   Rain    NaN
22.6    NaN      NaN    NaN    NaN        Snow    NaN    NaN
25.7    NaN      NaN    NaN    NaN         fog    NaN    NaN
30.4    NaN      NaN    NaN    NaN         NaN  Sunny    NaN
31.0    NaN      NaN  Sunny    NaN         NaN    NaN    NaN
32.0    NaN      NaN  Sunny    NaN         NaN    NaN    NaN
33.0   Snow      NaN    NaN    NaN         NaN    NaN    NaN
34.0  Sunny      NaN    NaN    NaN         NaN    NaN  Sunny
34.5    NaN      NaN  Sunny    NaN         NaN    NaN    NaN
42.0    NaN      NaN    NaN    NaN         NaN    NaN    NaN
43.0  Sunny      NaN    NaN    NaN         NaN    NaN    NaN

[15 rows x 27 columns]