In [1]:
import pandas as pd

In [64]:
def tempFun(temp):
    if temp == "":
        return '0';
    
    return temp

def evnFun(ent):
    print(ent)
    if ent == "":
        return '0';
    
    return ent

wheater = pd.read_csv("C:\\Users\\mantiwar\\Desktop\\Pythan-Prac\\weather1.csv" , converters = {
    "Temp":tempFun,
    "Event":evnFun
})

print(evnFun(""))

wheater

0

        Date  Event   Temp
0  10-05-2018   Snow  23.5
1  11-05-2018  Sunny    32
2  12-05-2018    NaN  34.5
3  13-05-2018   Rain    43
4  14-05-2018   Rain    10
5  15-05-2018   Snow     0
6  16-05-2018  Sunny     0
7  17-05-2018  Sunny    32
8  18-05-2018    NaN     0
9  19-05-2018   Rain     0