In [5]:
# String are changeable and , immutable


name = "My name is Manish Tiwari"
print(name)
len(name)

My name is Manish Tiwari

'My name is'

In [7]:
# slice
name[0:10]

name[2:8]

' name '

In [8]:
# upper and lowe case

name.upper()

'MY NAME IS MANISH TIWARI'

In [9]:
name.lower()

'my name is manish tiwari'

In [13]:
name.startswith('T')

False

In [16]:
# find 

name.find("manish")

-1

In [17]:
# replace

name.replace("Manish","Deepak")

'My name is Deepak Tiwari'