'C:\\Users\\mantiwar\\Desktop\\Pythan-Prac\\Numpay Library'

In [5]:
# CSV

csvFile = pd.read_csv("C:\\Users\\mantiwar\\Desktop\\Pythan-Prac\\weather1.csv")

csvFile

        Date  Event   Temp
0  10-05-2018   Snow  23.5
1  11-05-2018  Sunny  32.0
2  12-05-2018    NaN  34.5
3  13-05-2018   Rain  43.0
4  14-05-2018   Rain  10.0
5  15-05-2018   Snow   NaN
6  16-05-2018  Sunny   NaN
7  17-05-2018  Sunny  32.0
8  18-05-2018    NaN   NaN
9  19-05-2018   Rain   NaN

In [7]:
#xlxs

xlsxFile = pd.read_excel("C:\\Users\\mantiwar\\Desktop\\Pythan-Prac\\weather1.xlsx")

xlsxFile

       Date  Event   Temp
0 2018-05-10   Snow  23.5
1 2018-05-11  Sunny  32.0
2 2018-05-12    NaN  34.5
3 2018-05-13   Rain  43.0
4 2018-05-14   Rain  10.0
5 2018-05-15   Snow   NaN
6 2018-05-16  Sunny   NaN
7 2018-05-17  Sunny  32.0
8 2018-05-18    NaN   NaN
9 2018-05-19   Rain   NaN

In [9]:

# Dictionary

DictWeather = {
              "Date":["10-05-2018","11-05-2018","12-05-2018","13-05-2018","14-05-2018","15-05-2018"],
              "Event" : ["Snow" ,"" ,"Sunny" , "Rain" ,"" ,""],
              "Temp" :[22,32,43,3,4.5,5]

}

DictWeather

pd.DataFrame(DictWeather)

         Date  Event  Temp
0  10-05-2018   Snow  22.0
1  11-05-2018         32.0
2  12-05-2018  Sunny  43.0
3  13-05-2018   Rain   3.0
4  14-05-2018          4.5
5  15-05-2018          5.0

In [18]:
# tuple


TupleWeather = [
              ("10-05-2018","11-05-2018","12-05-2018","13-05-2018","14-05-2018","15-05-2018"),
             ("Snow" ,"" ,"Sunny" , "Rain" ,"" ,""),
              (22,32,43,3,4.5,5)

            ]

TupleWeather
pd.DataFrame(TupleWeather , columns =["A","B","C","D","E","F"])

# with tuple need to add column

            A           B           C           D           E           F
0  10-05-2018  11-05-2018  12-05-2018  13-05-2018  14-05-2018  15-05-2018
1        Snow                   Sunny        Rain
2          22          32          43           3         4.5           5

In [19]:
# List

ListWeather =[
     {"Date" : "10/05/2019" ,"Event":"Rain" ,"Temp":20},
    {"Date" : "12/05/2019" ,"Event":"" ,"Temp":7},
    {"Date" : "32/05/2019" ,"Event":"Snow" ,"Temp":4.5},
]

pd.DataFrame(ListWeather)

         Date Event  Temp
0  10/05/2019  Rain  20.0
1  12/05/2019         7.0
2  32/05/2019  Snow   4.5