# How will add more than one data frame in one excel file with different sheet

In [17]:
# create data frame

import pandas as pd

company =  pd.DataFrame({
    "Name":["A","B","C","D"],
    "Address":["Mum","Goa","Pun","Navi"],
    "Pnone" :[1,2,3,4,]
})

company

  Name Address  Pnone
0    A     Mum      1
1    B     Goa      2
2    C     Pun      3
3    D    Navi      4

In [18]:
emp = pd.DataFrame({
    "Name":["A1","B2","C3","D4"],
    "Address":["Mum1","Goa2","Pun3","Navi4"],
    "Pnone" :[11,22,33,44,]
})

emp

  Name Address  Pnone
0   A1    Mum1     11
1   B2    Goa2     22
2   C3    Pun3     33
3   D4   Navi4     44

In [24]:

with pd.ExcelWriter("Details.xlsx") as write:
    comDetail.to_excel(write , sheet_name="com")
    empDetails.to_excel(write , sheet_name="emp")